div {
    background: linear-gradient(to top, rgb(108, 108, 246), rgb(1, 240, 1));
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 10px 5px 5px blueviolet;
    padding: 0 25px;
    border-radius: 50px;
}
h1, h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:antiquewhite;
}