{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Объявление {{item.id}}</title>
    <link href="{% static 'myapp/board.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>{{item.title}}</h1>

    <div class="left_block">
        <a class="changeable_in_blue" href="{% url 'myapp:main' %}">Главная</a><br>
        {% for i in rublics %}
        <a class="changeable_in_blue" href="{% url 'myapp:rublic_page' i.pk %}">{{i.name}}</a><br>
        {% endfor %}
    </div>

     {% include "layout/user_info.html" %}

    <div class="main_cl">
        <p>{{item.content}}</p>
        <p class="price">{{item.price}}</p>
        <hr>
        <a href="{% url 'myapp:rublic_page' item.rublic.pk %}">{{item.rublic.name}}</a>
        <p class="date">{{item.published|date:"d.m.Y H:i:s"}}</p>
    </div>

    <div class="right_block">
        <p><a class="changeable_in_blue" href="{% url 'myapp:update' item.pk %}">Обновить</a><p>
        <p><a class="changeable_in_blue" href="{% url 'myapp:delete' item.pk %}">Удалить</a><p>
    </div>
</body>
</html>