{% extends "layout/password_template.html" %}


{% block title %}Вход{% endblock title %}
{% block header %}Вход{% endblock header %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Вы уже вошли как {{ user.username }}</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ captcha.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Вход">
        </form>
        <a class="changeable_in_blue" id="forgot_pass" href='{% url "password_reset" %}'>Забыли пароль?</a>
    {% endif %}
{% endblock content %}