{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Категория: {{c_rublic.name}}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/board.css' %}">
</head>
<body>
    <h1>{% block title_2 %}{% endblock %}</h1>
    <div class="left_block">
        <a class="changeable_in_blue" href="{% url 'myapp:main' %}">Главная</a><br>
        {% for i in rublics %}
        <a class="changeable_in_blue" href="{% url 'myapp:rublic_page' i.pk %}">{{i.name}}</a><br>
        {% endfor %}
        <a class="changeable_in_blue" href="{% url 'myapp:add' %}">Добавить объявление</a>
    </div>

    {% include "layout/user_info.html" %}

    <div class="main_cl">
        {% if items %}
            {% for i in items %}
            <div class="section">
                <h2><b><a href="{% url 'myapp:index_page' i.id %}">{{i.title}}</a></b></h2>
                <p>{{i.content}}</p>
                <p class="price"><b>{{i.price}} руб.</b></p>
                <hr>
                <p><a href="{% url 'myapp:rublic_page' i.rublic.pk %}">{{i.rublic.name}}</a></p>
                <p class="date">{{i.published|date:"d.m.Y H:i:s"}}</p>
            </div>
            {% endfor %}
        {% else %}
            <h2>Здесь объявлений пока нет<h2>
        {% endif %}
    </div>

    {% block paginator %}{% endblock paginator %}
</body>
</html>