{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} объявление</title>
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/board.css' %}">
</head>
<body>
    <h1>{% block title_h1 %}{% endblock title_h1 %} элемента</h1>
    <div class="left_block">
        <a class="changeable_in_blue" href="{% url 'myapp:main' %}">Главная</a><br>
    </div>
     {% include "layout/user_info.html" %}
    <div class="d_form">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value={% block button %}{% endblock %}>
        </form>
    </div>
</body>
</html>