{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} объявление</title>
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/board.css' %}">
    <style>
        button {
            margin-left: 45%;
            background: linear-gradient(to top, rgb(108, 108, 246), rgb(1, 240, 1));
            height: 50px;
            width: 150px;
        }
    </style>
</head>
<body>
    <h1>{% block title_h1 %}{% endblock title_h1 %} элемента</h1>
    <a href="{% url 'myapp:main' %}">Главная</a>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value={% block button %}{% endblock %}>
    </form>
</body>
</html>