<div class="right_block">
    {% if user.is_authenticated %}
        <p>Пользователь: <b>{{ user.username }}</b></p>
        <p><a class="changeable_in_blue" href="{% url 'logout' %}">Выход</a></p>
        {% if user.username == "admin" %}
            <p><b><a class="changeable_in_blue" href="http://127.0.0.1:8000/admin/">Go to admin-site</a></b></p>
        {% endif %}
    {% else %}
        <p>Пользователь: <b>гость</b></p>
        <p><a class="changeable_in_blue" href="{% url 'login' %}">Вход</a></p>
    {% endif %}
</div>